<div>
  <div class="dc">
    <div></div>
    <div class="documentContainerStyle">
      <div class="columns is-mobile documentColumnHeader">
        <div class="column is-6">
          <div class="level-left">
            <div class="page-title">Puntos de Atención y Pagos</div>
          </div>
        </div>
        <div class="column is-6">
          <div class="level-right popover-container">
            <div class="control search has-icons-left has-icons-right search-input rightToLeft">
              <div data-toggle="tooltip" data-placement="bottom" title="Buscar"><input
                  class="input search-input fontAwesome" type="text" placeholder="" value="" [(ngModel)]="query" id="listSearch"><span
                  class="icon is-small is-left"><img class="search-icon" src="assets/images/buscar.svg"></span><span
                  class="clear-search icon is-small"></span>
              </div>
            </div>
            <button type="button" class="btn-icon" placement="bottom" [autoClose]="'outside'" [ngbPopover]="clickImgTemp" triggers="manual"
              #p1="ngbPopover" (click)="p1.toggle();" (shown)="selectcheck($event)" 
              popoverTitle="Permisos">
              <img src="assets/images/filtro.svg">
            </button>
            <button type="button" class="ns-btn btn-cre" (click)="openAgregarPuntoayp()">Agregar</button>
          </div>

        </div>

      </div>
    </div>


    <div class="contenedor w-100 vh-100" id="spinner" *ngIf="load">
      <div class="lds-dual-ring"><span style="font-size:25px">Cargando</span></div>
    </div>

    <div class="columns document-list-container" *ngIf="!load">
      <div class="documentTableStyle" >
        <div class="tableHeaderStyle columns">
          <div class="column is-4">Nombre </div>
          <div class="column is-2">Servicio </div>
          <div class="column is-4">Dirección</div>
          <div class="column is-2"></div>
          <div class="column is-hidden-touch"></div>
        </div>
        <div *ngFor="let puntoayp of listapuntosayp | searchFilter: query | paginate: config">
          <div class="documentRowStyle columns" *ngIf="puntoayp.nombre" (click)="openEditarPuntoayp(puntoayp)" >
            <div class="column is-4 documentName">{{puntoayp.nombre}}</div>
            <div class="column is-2">{{puntoayp.tipo}}</div>
            <div class="column is-4 documentName">{{puntoayp.direccion}}</div>
            <div class="column is-2"><button class="ns-btn btn-danger --small" (click)="openBorrarPuntoayp(puntoayp.idpunto,$event)" data-toggle="tooltip" data-placement="bottom"
              title="Borra el Punto de Pago o Atención al Socio seleccionado">Eliminar</button></div>
            <div class="column tag-row"></div>
          </div>
          
        </div>
      </div>
    </div>
    
    <pagination-template #p="paginationApi"  
                        [id]="config.id"          
                        (pageChange)="config.currentPage = $event">
      <div class="tablePaginationStyle">
        <div class="level is-mobile paging">
          <div class="level-left">
            <div class="level-item">
              <div [ngSwitch]="p.isFirstPage()">
                <div *ngSwitchCase="true">
                  <a class="button svg-button-rounded" alt="previous" disabled >
                    <div class="injected icon">
                      <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                          height="12px" viewBox="0 0 7 12" version="1.1" class="injected-svg"
                          data-src="https://ncontracts-cdn.ncontracts.com/arrow-prev.svg">
                          <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                          <title>arrow-prev</title>
                          <desc>Created with Sketch.</desc>
                          <g id="Pagination" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Within-Pages-+-Items-Dropdown" transform="translate(-64.000000, -57.000000)"
                              fill="#4A4A4A">
                              <g id="BTN-Round-Prev" transform="translate(54.000000, 48.000000)">
                                <polygon id="arrow-prev"
                                  points="17 19.608 15.6634304 21 10 15 15.6634304 9 17 10.416 12.6504854 15"></polygon>
                              </g>
                            </g>
                          </g>
                        </svg></div>
                    </div>
                  </a>
                </div>
                <div *ngSwitchCase="false">
                  <a class="button svg-button-rounded" alt="previous" (click)="p.previous();actualizarrango(config.itemsPerPage)">
                    <div class="injected icon">
                      <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                          height="12px" viewBox="0 0 7 12" version="1.1" class="injected-svg"
                          data-src="https://ncontracts-cdn.ncontracts.com/arrow-prev.svg">
                          <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                          <title>arrow-prev</title>
                          <desc>Created with Sketch.</desc>
                          <g id="Pagination" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Within-Pages-+-Items-Dropdown" transform="translate(-64.000000, -57.000000)"
                              fill="#4A4A4A">
                              <g id="BTN-Round-Prev" transform="translate(54.000000, 48.000000)">
                                <polygon id="arrow-prev"
                                  points="17 19.608 15.6634304 21 10 15 15.6634304 9 17 10.416 12.6504854 15"></polygon>
                              </g>
                            </g>
                          </g>
                        </svg></div>
                    </div>
                  </a>
                </div>
              </div>
              <div [ngSwitch]="p.isLastPage()">
                <div *ngSwitchCase="true">
                  <a class="button svg-button-rounded" alt="next" disabled>
                    <div class="injected icon">
                      <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                          height="12px" viewBox="0 0 7 12" version="1.1" class="injected-svg"
                          data-src="https://ncontracts-cdn.ncontracts.com/arrow-next.svg">
                          <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                          <title>arrow-next</title>
                          <desc>Created with Sketch.</desc>
                          <g id="Pagination" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Within-Pages-+-Items-Dropdown" transform="translate(-103.000000, -57.000000)"
                              fill="#4A4A4A">
                              <g id="BTN-Round-Next" transform="translate(91.000000, 48.000000)">
                                <polygon id="arrow-next"
                                  transform="translate(15.500000, 15.000000) scale(-1, 1) translate(-15.500000, -15.000000) "
                                  points="19 19.608 17.6634304 21 12 15 17.6634304 9 19 10.416 14.6504854 15"></polygon>
                              </g>
                            </g>
                          </g>
                        </svg></div>
                    </div>
                  </a>
                </div>
                <div *ngSwitchCase="false">
                  <a class="button svg-button-rounded" alt="next" (click)="p.next();actualizarrango(config.itemsPerPage)">
                    <div class="injected icon">
                      <div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px"
                          height="12px" viewBox="0 0 7 12" version="1.1" class="injected-svg"
                          data-src="https://ncontracts-cdn.ncontracts.com/arrow-next.svg">
                          <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
                          <title>arrow-next</title>
                          <desc>Created with Sketch.</desc>
                          <g id="Pagination" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Within-Pages-+-Items-Dropdown" transform="translate(-103.000000, -57.000000)"
                              fill="#4A4A4A">
                              <g id="BTN-Round-Next" transform="translate(91.000000, 48.000000)">
                                <polygon id="arrow-next"
                                  transform="translate(15.500000, 15.000000) scale(-1, 1) translate(-15.500000, -15.000000) "
                                  points="19 19.608 17.6634304 21 12 15 17.6634304 9 19 10.416 14.6504854 15"></polygon>
                              </g>
                            </g>
                          </g>
                        </svg></div>
                    </div>
                  </a>
                </div>
              </div>
              
            </div>
            <div class="level-item">
              <p >Mostrar {{inicio}} - {{fin}} de {{totalreg}} registros</p>
            </div>
          </div>
          <div class="items">
            <div class="dropdown dropdown-style items-per-page-dropdown" >
              <select name="itemspage" class="dropdown-items" #mySelect
              (change)='actualizarrango(mySelect.value)'>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
            <label >Registros por página</label>
          </div>
          
        </div>
      </div>
    </pagination-template>
  </div>
</div>

<ng-template #clickImgTemp>
  <div >
    <div class='form-check' (click)="selectcheck(1)" >
      <input type='checkbox' class='form-check-input'>
      <label class='form-check-label' >Pago de Factura</label>
    </div>

    <div class='form-check' (click)="selectcheck(2)" >
      <input type='checkbox' class='form-check-input' >
      <label class='form-check-label' >Atención al Socio</label>
    </div>

  </div>
</ng-template>


