
<!--   <div style="background-color:rgb(21, 109, 47);" >
    
    <div class="row text-center">
      
    <div class="col-sm-4 text-center " style="background-color:transparent;"></div>
    
    <div class="col-sm-3 text-center " style="background-color:transparent;">
      
        <div class="col-sm-12">
          <div class="login-card card-body auth-body">
            <form class="md-float-material">
              <div class="text-center">
                <img src="assets/images/logo_login.png" alt="logo.png">
              </div>
              <br/>
              <div class="auth-box">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h1 class="text-center txt-primary" style="color:#fff">Inicio de Sesión</h1>
                  </div>
                </div>
                <hr/>
                <div class="input-group">
                  <input type="usuario" class="form-control" placeholder="Usuario">
                  <span class="md-line"></span>
                </div>
                <br/>
                <div class="input-group">
                  <input type="password" class="form-control" placeholder="Password">
                  <span class="md-line"></span>
                </div>
                <br/>
                
                <hr/>
                <div class="row m-t-30">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Ingresar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center " style="background-color:transparent;"></div>
    </div>
  </div> -->

  <div class="col-md-4 offset-md-4 mt-5">
    <div class="card">
      
      <br/>
        <div class="login-card card-body auth-body text-center">
            <form class="md-float-material" [formGroup]="loginForm">
                <div class="text-center" style="background-color:rgba(0, 128, 0, 0.904);height: 150px;width: 150px;margin: 0 auto;">
                  <img src="assets/images/logo_login.png" alt="logo.png" >
                </div>
                <br/>
                <br/>
                <div class="page-title-modal">Inicio de Sesión</div>
                <hr/>
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">El Campo Usuario es requerido</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
                    </div>
                </div>
                <hr/>
                <button [disabled]="loading" class="btn btn-primary"  (click)="onSubmit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Ingresar
                </button>
                
            </form>
        </div>
    </div>
</div>
