
<div class="page-title-modal">Datos Perfil</div>
<hr/>
<mat-dialog-content >

<div>
  <form id="editarperfilForm" [formGroup]="form">
    <div class="form-group">
      <div class="col-sm-4">
        <label for="nombre">Nombre<span style="font-weight:700;color:red;"> *</span></label>
      </div>
      <div class="col-sm-12">
        <input formControlName="nombre" type="text" class="form-control" required>
        <div *ngIf="enviado && f.nombre.errors" class="mensajevalidacion">
          <div *ngIf="f.nombre.errors.required">Debe llenar el nombre</div>
        </div>
        
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label for="descripcion">Descripción<span style="font-weight:700;color:red;"> *</span></label>
      </div>
      <div class="col-sm-12">
        <input formControlName="descripcion" type="text" class="form-control" required>
        <div *ngIf="enviado && f.descripcion.errors" class="mensajevalidacion">
          <div *ngIf="f.descripcion.errors.required">Descripción es requerida</div>
        </div>
      </div>

    </div>
    <div style="margin-left:1rem;margin-right:1rem;margin-bottom:1rem;">
      <label for="permisos"  style="font-weight:bold;text-align:center;display:block">Permisos</label>
      <div class="row">
        <div class="col-sm-6" formArrayName="permisos" *ngFor="let permiso of permisosFormArray.controls; let j = index">
          <label style="margin-left:25px">
          <input class="form-check-input me-1" style="margin-left:3px"  type="checkbox" aria-label="..." [formControlName]="j">
          <div style="margin-left:25px">{{listapermisos[j].nombrepermiso}}</div></label>
        </div>  
      </div>
    </div>
  </form>
</div>
</mat-dialog-content>

<div class="modal-footer" style="height:40px">
  <button type="button" class="btn btn-outline-primary" 
    (click)="this.close(null)">Cancelar</button>
  <button type="button" class="btn btn-primary" 
  (click)="this.grabarcallback()">Guardar</button>
</div>

