

<div class="page-title-modal">Agregar Perfil</div>
<hr/>
<mat-dialog-content >
<div class="contenedor w-100 vh-100" id="spinner" *ngIf="load">
  <div class="lds-dual-ring"><span style="font-size:25px">Cargando</span></div>
</div>
<div *ngIf="!load">
  <form id="agregarperfilForm" [formGroup]="form">
    <div class="form-group">
      <div class="col-sm-4">
        <label for="nombre">Nombre<span style="font-weight:700;color:red;"> *</span></label>
      </div>
      <div class="col-sm-12">
        <input formControlName="nombre" type="text" class="form-control" [maxlength]="30" required>
        <div *ngIf="enviado && f.nombre.errors" class="mensajevalidacion">
          <div *ngIf="f.nombre.errors.required">Debe llenar el nombre</div>
          <div *ngIf="f.nombre.errors.solo">Nombre no puede ser solo espacios</div>
        </div>
        
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4">
        <label for="descripcion">Descripción<span style="font-weight:700;color:red;"> *</span></label>
      </div>
      <div class="col-sm-12">
        <input formControlName="descripcion" type="text" class="form-control" [maxlength]="50" required>
        <div *ngIf="enviado && f.descripcion.errors" class="mensajevalidacion">
          <div *ngIf="f.descripcion.errors.required">Descripción es requerida</div>
          <div *ngIf="f.descripcion.errors.solo">Descripción no puede ser solo espacios</div>
        </div>
      </div>

    </div>
    <div style="margin-left:1rem;margin-right:1rem;margin-bottom:1rem;">
      <label style="font-weight:bold;text-align:center;display:block">Permisos</label>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          
          <div class="col-sm-12 m-1" formArrayName="permisos" *ngFor="let permiso of permisosFormArray.controls; let j = index">
            <ng-container *ngIf="(listapermisos[j].idpadre==0)">
              <label style="margin-left:35px">
                <input class="form-check-input me-1" style="margin-left:13px"  type="checkbox" aria-label="..." [formControlName]="j" (change)="cambiopermisopadre(listapermisos[j].idpermiso,0,j)">
                <div style="margin-left:35px">{{listapermisos[j].nombrepermiso}}</div></label>
            </ng-container>
            <ng-container *ngIf="(listapermisos[j].idpadre!=0)">
              <label style="margin-left:35px">
                <input class="form-check-input me-1" style="margin-left:33px"  type="checkbox" aria-label="..." [formControlName]="j" (change)="cambiopermisopadre(listapermisos[j].idpermiso,1,j)">
                <div style="margin-left:55px">{{listapermisos[j].nombrepermiso}}</div></label>
            </ng-container>
          </div>  
          
        </div>
      </div>
    </div>
  </form>
</div>
</mat-dialog-content>

<div class="modal-footer" style="height:40px">
  <button type="button" class="btn btn-outline-primary" 
    (click)="this.close(null)">Cancelar</button>
  <button type="button" class="btn btn-primary" 
  (click)="this.grabarcallback()">Guardar</button>
</div>

