
<div class="page-title-modal">Agregar Punto de Atención o Pago</div>
<hr/>
<mat-dialog-content>

  <div>
    <form id="editarpuntoaypForm" [formGroup]="form">
      <div class="form-group ">
  
        <div class="col-sm-4">
          <label for="nombre">Nombre<span style="font-weight:700;color:red;"> *</span></label>
        </div>
        <div class="col-sm-12">
          <input formControlName="nombre" type="text" class="form-control" [maxlength]="100" required>
          <div *ngIf="enviado && f.nombre.errors" class="mensajevalidacion">
            <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
            <div *ngIf="f.nombre.errors.solo">Nombre no debe contener solo espacios</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <div class="col-sm-3" style="display:inline">
            <label for="tipo">Servicio<span style="font-weight:700;color:red;"> *</span></label>
          </div>
          <div class="col-sm-12">
            <div class="input-group mb-3">
              <select formControlName="tipo">
                <option *ngFor="let tipo of tipos" [ngValue]="tipo.id">{{tipo.nombre}}</option>               
              </select> 
            </div>
            <div *ngIf="enviado && f.tipo.errors" class="mensajevalidacion">
              <div *ngIf="f.tipo.errors.required">El Tipo de Servicio es requerido</div>
            </div>
          </div>
          <div class="col-sm-3"  style="display:inline">
            <label for="direccion">Dirección<span style="font-weight:700;color:red;"> *</span></label>
          </div>
          <div class="col-sm-12">
            <input formControlName="direccion" type="text" class="form-control" [maxlength]="150" required>
            <div *ngIf="enviado && f.direccion.errors" class="mensajevalidacion">
              <div *ngIf="f.direccion.errors.required">Dirección es requerida</div>
              <div *ngIf="f.direccion.errors.solo">Dirección no puede ser solo espacios</div>
            </div>
          </div>
          <br/>
          <div class="col-sm-3" style="display:inline;">
            <label for="latitud">Latitud<span style="font-weight:700;color:red;"> *</span></label>
          </div>
          <div class="col-sm-12">
            <input formControlName="latitud" type="number" class="form-control" (input)="latitudcambio($event.target.value)" required>
            <div *ngIf="enviado && f.latitud.errors" class="mensajevalidacion">
              <div *ngIf="f.latitud.errors.required">Latitud es requerido</div>
            </div>
          </div>
          <br/>
          <div class="col-sm-3"  style="display:inline">
            <label for="longitud">Longitud<span style="font-weight:700;color:red;"> *</span></label>
          </div>
          <div class="col-sm-12" >       
            <div class="input-group mb-3">
              <input formControlName="longitud" type="number" class="form-control" (input)="longitudcambio($event.target.value)" required>
            </div>   
            <div *ngIf="enviado && f.longitud.errors" class="mensajevalidacion">
              <div *ngIf="f.longitud.errors.required">Longitud es requerido</div>
            </div>
            
          </div>

        </div>
        <div class="col-sm-6">
          <div class="col-sm-3"  style="display:inline">
            <label for="ubicacion">Ubicación<span style="font-weight:700;color:red;"> *</span></label>
          </div>
          <div class="col-sm-12">
            <agm-map [latitude]="marcador.lat" [longitude]="marcador.lon" [disableDefaultUI]="false" 
            
            (mapClick)="mapClicked($event)" (dragEnd)="markerDragEnd(marcador, $event)">
              <agm-marker [latitude]="marcador.lat" [longitude]="marcador.lon" [markerDraggable]="marcador.draggable"
              (markerClick)="clickedMarker(marcador)" (dragEnd)="markerDragEnd(marcador, $event)" >
                <agm-info-window>
                  <strong>{{_puntoayp.nombre}}</strong>
                </agm-info-window>
              </agm-marker>
                
            </agm-map>
            
          </div>
        </div>
      </div>
      
      
      
    </form>
  </div>
  </mat-dialog-content>
<div class="modal-footer" style="height:40px">
  <button type="button" class="btn btn-outline-primary"
    (click)="this.close(null)">Cancelar</button>
  <button type="button" class="btn btn-primary"
  (click)="this.grabarcallback()">Guardar</button>
</div>
